//colors:
$grey: #ddd;

//spacing

$space: 1.4rem;

//font-sizes

$base-font-size: 1.6rem;

//form-inputs

$input-border: $grey;
//boxed-view vars

$boxed-view-overlay-bg: $grey;
$boxed-view-box-bg: white;
