//colors:
$grey: #ddd;
$semigrey: #f6f6f6;
$darkgrey: #777;
$brand-primary: #601025;

//spacing
$space: 1.4rem;
$site-max-width: 50rem;

//font-sizes
$base-font-size: 1.6rem;
$large-font-size: 1.8rem;

//form-inputs
$input-border: $grey;
$input-spacing: 1rem;

//boxed-view vars
$boxed-view-overlay-bg: $grey;
$boxed-view-box-bg: white;

//buttons
$btn-bg: $brand-primary;
$btn-text-color: white;
$btn-small-color: $brand-primary;

//header
$header-bg: $brand-primary;
$header-color: white;

//item
$item-bg: $semigrey;
$item-border: #e5e5e5;
$item-text-color: $darkgrey;
