.boxed-view {
  align-items: center; //center vertically
  justify-content: center; //center horizontally
  background: url("bg2.jpeg");
  // background: $boxed-view-overlay-bg;
  width: 100vw; //viewport width
  height: 100vh; //viewport height
  display: flex;
}

.boxed-view__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: fade-out($boxed-view-overlay-bg, .3);
}

.boxed-view__box {
  width: 30rem;
  background: $boxed-view-box-bg;
  padding: 2.4rem;
  text-align: center;
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
}
