.btn {
  background-color: $btn-bg;
  border: none;
  color: $btn-text-color;
  padding: $input-spacing;
  font-size: $base-font-size;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: $space;
  line-height: 1.2;
}

.btn--link {
  display: inline-block;
  text-decoration: none;
}

.btn--small {
  background-color: transparent;
  border: 1px solid $btn-small-color;
  color: $btn-small-color;
  font-size: 1.4rem;
  margin-right: $space;
  padding: .5rem .8rem;
}

.btn--secondary {
  background-color: lighten($grey, 10%);
  border: 1px solid $grey;
  color: darken($grey, 50%);
}

.btn--header {
  border: 1px solid white;
  background-color: transparent;
  font-size: 1.4rem;
  padding: .3rem .8rem;
  margin: 0;
  text-transform: none;
  color: white;
}
